


.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: 600;
  font-weight: <weight>;
  font-style: normal;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.nav-title{
    font-weight: 800;
    font-size: 28px;
}
nav ul li{
    list-style: none;
}
.btn-primary{
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    font color: #0D1321;
    padding: 17px 24px;
}
.text-align{
    text-align: center;
}
/* header styles */
.header{
    background-image: url('../assets/Hero-bg.png');
    margin-top: 30px;
    height: 652px;
    padding: 35px 220px;
    margin-bottom: 40px;
    

}

.banner-title{
   font-weight: 800;
   font-size: 48px;
   text-align: auto;
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.banner-section-container{
    text-align: center;
    margin-top: 0;
}
.btn-secondary{
    background-color: #0D1321;
    font-weight: bold;
    color: white;
    padding: 21px 24px;
    border-radius: 5px;

/* skills styles*/
.section-title{
    font-weight: 800;
    font-size: 48px;
    text-align: center;
 }
.section-decription{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
section h3{
    font-weight: 800;
}